[project]
name = "dev-gettsim"
version = "0.1.0"
description = "Pixi workspace for ttsim, gettsim, gettsim-personas, and soep-preparation."
requires-python = ">=3.13"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.pixi.workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]

[tool.pixi.dependencies]
pygraphviz = "*"
python = "~=3.13.0"

[tool.pixi.pypi-dependencies]
ttsim-backend = { path = "ttsim", editable = true }
mettsim = {path = "ttsim/src_mettsim", editable = true}
gettsim = { path = "gettsim", editable = true }
gettsim-personas = { path = "gettsim-personas", editable = true }
soep-preparation = { path = "soep-preparation", editable = true }

[tool.pixi.tasks]
python = "python"


[tool.pytask.ini_options]
paths = ["soep-preparation/src/soep_preparation"]
pdbcls = "pdbp:Pdb"
editor_url_scheme = "vscode"
task_files = ["task_*.py", "task.py", "tasks.py"]
